<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Shoes - {% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="container">

        <div id="nav-buttons">
            <button class="btn btn-info"><a href="/stores">All Stores</a></button>
            <button class="btn btn-info"><a href="/brands">All Brands</a></button>
        </div>
            {% block content %}
            {% endblock %}
        </div>
        <a href="/"><button>HOME</button></a>
    </body>
</html>
