{% extends "base.html.twig" %}

{% block title %}Brands{% endblock %}

{% block content %}
<h1>Brands</h1>

{% if brands is not empty %}
    <ul>
    {% for brand in brands %}
        <li><a href="/brand/{{ brand.getId }}">Name: {{ brand.getName }}</a></li>
    {% endfor %}
    </ul>

    <form action="delete_all_brands" method="post">
        <button type="submit" class="btn btn-warning">Clear all Brands</button>
    </form>

{% else %}

    <h4>No brands listed in database!</h4>

{% endif %}

{% endblock %}
