{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h3>Home Page</h3>
    <p>Add Store:</p>
    <form action="/add_store" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control">
        </div>

        <button type="submit" name="button">Add</button>
    </form>

    <p>Add Brand:</p>
    <form action="/add_brand" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control">
        </div>

        <button type="submit" name="button">Add</button>
    </form>

{% endblock %}
