{% extends "base.html.twig" %}

{% block title %}Stores{% endblock %}

{% block content %}
<h1>Stores</h1>

{% if stores is not empty %}
    <ul>
    {% for store in stores %}
        <li><a href="/store/{{ store.getId }}">Name: {{ store.getName }}</a></li>
    {% endfor %}
    </ul>

    <form action="delete_all" method="post">
        <button type="submit" class="btn btn-warning">Clear all Stores</button>
    </form>

{% else %}

    <h4>No stores listed in database!</h4>

{% endif %}
{% endblock %}
